<% include ./partials/header %>

<div id="contact-container">
	<div id="contact-info">
		<div>
			<span>Contact us:</span>
			<div>Someplace somewhere</div>
			<div>Tel: some-phone</div>
			<div>email: someone@mail.com</div>
		</div>
	</div>
	<img id="map" src="https://ctl.s6img.com/society6/img/I3sgO1gFwp3qujF4BxzM6nA9kcw/w_700/duvet-covers/swatch/~artwork,fw_6000,fh_6000,fy_-1378,iw_6000,ih_8756/s6-original-art-uploads/society6/uploads/misc/03e9f35f365c408ca0272622d9c9ef21/~~/athens-white-map-duvet-covers.jpg?wait=0&attempt=0" alt="Map">
</div>

<% include ./partials/footer %>