<% include ./partials/header %>

  <main>
    <div id="catalogue-num">007</div>
    <img src="" alt=""></img>
    <div id="controls">
      <div class="arrow" id="arrow-left"><</div>
      <div class="arrow" id="arrow-right">></div>
    </div>
  </main>

  <!-- Information about the displayed image -->
  <div id="info">
    <div id="title"></div>
    <div id="about">
      <div id="author">
        <img src="" alt="Authors image">
        <div id="author-name"></div>
      </div>
      <span>About the designer:</span>
      <article></article>
    </div>
  </div>

<% include ./partials/footer %>
